Order Deny,Allow
Deny from all

# デフォルトの All ではなく Any を指定します
# Any にしないと Basic認証を通過してもホストが許可されていないため表示出来ません
Satisfy Any

# マッチしたホストを許可する
SetEnvIf HOST "^(animal-meow\.com|127\.0\.0\.1|localhost)$" allowedHost
Allow from env=allowedHost

AuthUserFile ../.htpasswd
AuthType Basic
AuthName "Restricted Access"
Require valid-user


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
